<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<form th:action="@{/user/login}" class="flex flex-col  w-[550px] gap-5" method="post">
    <input type="text" class="input" name="username" placeholder="아이디">
    <input type="text" class="input" name="password" placeholder="비밀번호">
    <input type="submit" class="btn" value="로그인">
</form>
<a href="/user/signup">회원가입</a>

</body>
</html>