<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<form th:action="@{/user/signup}" th:object="${userCreateDto}" method="post" class="flex flex-col w-[550px]">
    <input type="text" name="loginId" class="input" th:field="*{loginId}" placeholder="아이디">
    <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}"></p>
    <input type="password" name="password" class="input" th:field="*{password}" placeholder="비밀번호">
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <input type="text" name="nickname" class="input" th:field="*{nickname}" placeholder="닉네임">
    <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></p>
    <input type="text" name="email" class="input"th:field="*{email}" placeholder="이메일">
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <input type="submit" class="btn" value="회원가입">
</form>



</body>
</html>